* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
}


table {
    margin: 2vh;
    width: 60%;
    height: 60vh;
    border-collapse: collapse;
    justify-self: center;
}

td, th {
    text-align: center;
}

tr {
    height: 8vh;
}

.horario {
    height: 2vh;
}